<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./aboutus.css">
    <title>About us</title>
</head>
<body action="/AboutUs" method="GET">
    <section class="about">
    <div class="main">
     <img src=https://i.pinimg.com/originals/36/98/b6/3698b6610c72bcdd6c4b3fc1db8e4754.jpg>
    <div class="about-text">
        <h1>About us</h1>
        <h3>Mehta Madhav </h3>
        <h5>Merriage  <span>& Designer <span></h5>
        <p>The portal extends its services to people belonging to different backgrounds, regions, casts and religions. The services are offered to privileged Indians from Hindu, Sikh, Muslims, Christians, Jain and other communities world-wide. We are always ready to help people who are serious about marriage.</p>


    </div>
</div>
</section>
<section class="about">
    <div class="main">
     <img id="abc" src=com/originals/6e/9a/e1/6e9ae1845574fef81976c025aa3a7a03.jpg>
    <div class="about-text">
        <h1>About us</h1>
        <h3>Bhatt Kedar</h3>
        <h5> Marriage  <span>& Designer <span></h5>
        <p>The portal extends its services to people belonging to different backgrounds, regions, casts and religions. The services are offered to privileged Indians from Hindu, Sikh, Muslims, Christians, Jain and other communities world-wide. We are always ready to help people who are serious about marriage.</p>


    </div>
</div>

</section>
    
</body>
</html>