<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\Register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    
    <title>Register</title>
</head>
<body>
    
    
    <section>
        <div class="title"> <h2>Register & Join our Matrimony</h2></div>
        <div>
            <div class="htext">
                
                <h4> Finding your perfect match just became easier</h4>
                
            </div>
        </div>
        <div class="box2">
        <form action="/Register" method="POST">
            
            <table>
                <tr>
                    <td>
                        Name :
                    </td>
                    <td>
                        <input  class="form-control" aria-label="Default select example" type="Text"  name="text" placeholder="Enter your name hear...">
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        Email Id:
                    </td>

                    <td>
                        <input    class="form-control" type="email" placeholder="abcd123@gmail.com" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password :
                    </td>

                    <td>
                        <input class="form-control" type="password" placeholder="password" maxlength="8" name="password">
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Date Of Birth :
                    </td>
                    <td>
                        <input  class="form-control" aria-label="Default select example"type="date" name="date">
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender :
                    </td>
                    <td>
                        <input type="radio"  name="gender" value="Male">
                         <label for="">Male</label>
                         <input type="radio" name="gender" value="Female">
                         <label for="">Female</label>
                    </td>

                </tr>
                <tr>
                    
                    <td>
                        Height :
                    </td>
                    <td>
                        <select  class="form-select" aria-label="Default select example" type="height" id="text" name="height">
                            <option selected>Please Select</option>
                            <option value="4. 0">4' 0" </option>
                            <option value="4. 1"> 4' 1" </option>
                            <option value="4.2">4' 2" </option>
                            <option value="4.3">4' 3" </option>
                            <option value="4.4">4' 4" </option>
                            <option value="4.5">4' 5" </option>
                            <option value="4.6">4' 6" </option>
                            <option value="4.7">4' 7" </option>
                            <option value="4.8">4' 8" </option>
                            <option value="4.9">4' 9" </option>
                            <option value="4.10">4' 10" </option>
                            <optgroup></optgroup>
                            <option value="5.0">5' 0" </option>
                            <option value="5.1">5' 1" </option>
                            <option value="5.2">5' 2" </option>
                            <option value="5.3">5' 3" </option>
                            <option value="5.4">5' 4" </option>
                            <option value="5.5">5' 5" </option>
                            <option value="5.6">5' 6" </option>
                            <option value="5.7">5' 7" </option>
                            <option value="5.8">5' 8" </option>
                            <option value="5.9">5' 9" </option>
                            <option value="5.10">5' 10 plus" </option>
                            
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mother Tongue :
                    </td>
                    <td>
                        <select  class="form-select" aria-label="Default select example" type="language" id="text" name="language">
                            
                            <option value="Hindi">Hindi</option>
                            <option value="Gujrati">Gujrati</option>
                            <option value="language">English</option>
                            <option value="language">Urdu</option>
                            <option value="language">Tamil</option>
                            <option value="language">Mrathi</option>
                            <option value="language">Bangali</option>
                            <option value="language">Telugu</option>
                            </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Religion :
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" type="religion" id="text" name="religion">
                            <option selected>Please Select</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Muslim">Muslim</option>
                            <option value="Sikh">Sikh</option>
                            <option value="Cristian">Cristian</option>
                            <option value="Jain">Jain</option>
                            <option value="Buddhist">Buddhist</option>
                            <option value="Parsi">Parsi</option>
                            </select>
                            
                    </td>
                </tr>
                
                <tr>
                    <td>
                        City :
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" type="city" id="text" name="city">
                            <option selected>Please Select</option>
                            <option value="Bhavnager">Bhavnager</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Pune">Pune</option>
                            <option value="Jaypur">Jaypur</option>
                            <option value="Rajkot">Rajkot</option>
                            <option value="Ahemdabad">Ahemdabad</option>
                            <option value="Banglore">Banglore</option>
                            <option value="Haidrabad">Haidrabad</option>
                            <option value="Surat">Surat</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Patan">Patan</option>
                            <option value="Chandigadh">Chandigadh</option>
                            <option value="Hariyana">Hariyana</option>
                            <option value="Gandhinager">Gandhinager</option>
                            </select>
                            
                            
                            
                    </td>
                </tr>
                
                    
               
                <tr>
                    <td>
                        Mobile Number :
                    </td>
                    <td>
                        <input  class="form-control" aria-label="Default select example" type="phone" maxlength="10" name="phone" placeholder="Enter your Number..">
                    </td>
                   
                </tr>
            </table>
        
            <input id="submitbtn" type="submit" name="" value="Submit">
        
        </form>
    </div>
    </section>
    
</body>
</html>