<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Matrimony</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Krub:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <link rel="shortcut icon" href="./images/Capture.PNG">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <link rel="stylesheet" href=".\welcome.css">
        
       
        
    
</head>
<body >
<div id="header">
    <img src="https://cdn7.dissolve.com/p/D430_49_999/D430_49_999_1200.jpg" alt="logos" onclick="location.href='/dashboard' " title="home page" >
     <form id="searchForm" action="/dashboard/userProfile" method="GET">
        <input id="searchInput" type="text" name="partner" placeholder=" search ">
     </form>
     <label for="searchInput"><p id="searchIcon"><span class="glyphicon glyphicon-search custom-color"></span></p></label>
     <button id="logoutIcon" onclick="location.href='http://localhost:5000/'" type="button"><span class="glyphicon glyphicon-log-out logoutbtn" style="font-size:3vmin"></span></button>
</div>

<div id="formbutton">
    <label for="submitBtn" class="btn btn-default Custom-style">Explore</label>
</div>

<div class="slideShow">
    <div class="slide0">
        
        <img class="imgFit imgFit1" src="https://play-lh.googleusercontent.com/BYkmLMGbmLMdpvSOLK7XIkq0n0iEibmnjohznrV_LQkw6-OSpCXuUvtuyAk8zijmlQ">
        
        <img class="imgFit imgFit1" src="https://play-lh.googleusercontent.com/BYkmLMGbmLMdpvSOLK7XIkq0n0iEibmnjohznrV_LQkw6-OSpCXuUvtuyAk8zijmlQ" alt="">
        
         <p class="mName"><span class="mGender"> Name :Jeck</span></p>
        <p class="mReligion"> 
             <span class="rKey">Religion : Hindu </span><span class="rValue">, </span><br>
            <span class="hKey">Education:IT engineer </span><span class="hValue"></span> 
        </p> 
   
        <p class="mAbout mAbout1">
           
        </p>
       </div>
    
        
            <div class="slide1">
        
            <img class="imgFit imgFit1" src="https://thumbs.dreamstime.com/b/portrait-beautiful-indian-girl-business-woman-smiling-holding-tablet-businesswoman-working-her-office-herself-looking-158880052.jpg">
            <img class="imgFit imgFit1" src="https://thumbs.dreamstime.com/b/portrait-beautiful-indian-girl-business-woman-smiling-holding-tablet-businesswoman-working-her-office-herself-looking-158880052.jpg" alt="">
            
             <p class="mName"><span class="mGender"> Name :Hely</span></p>
            <p class="mReligion"> 
                 <span class="rKey">Religion : Hindu </span><span class="rValue">, </span><br>
                <span class="hKey">Education:C.A </span><span class="hValue"></span> 
            </p> 
           
            <p class="mAbout mAbout1">
               
            </p>
           </div>

           <div class="slide2">
            
            <img class="imgFit imgFit2" src="https://img.freepik.com/premium-photo/portrait-young-beautiful-businesswoman_53419-3859.jpg?w=2000">
            
            <img class="imgFit imgFit2" src="https://img.freepik.com/premium-photo/portrait-young-beautiful-businesswoman_53419-3859.jpg?w=2000" alt="Upload image">
            <p class="mName"><span class="mGender"> Name :Ruchhita</span></p>
            <p class="mReligion"> 
                 <span class="rKey">Religion : Hindu </span><span class="rValue">, </span><br>
                <span class="hKey">Education :B.tech </span><span class="hValue"></span> 
            </p>   
            </p> 
           </div>
           <div class="slide3">
            <img class="imgFit imgFit1" src="https://ath2.unileverservices.com/wp-content/uploads/sites/3/2017/09/professional-mens-hairstyles-combed-min-1024x683.jpg">
       
                        <img class="imgFit imgFit3" src="https://ath2.unileverservices.com/wp-content/uploads/sites/3/2017/09/professional-mens-hairstyles-combed-min-1024x683.jpg">
            
                <p class="mName"><span class="mGender"> Name : Dhruv</span></p>
                <p class="mReligion"> 
                     <span class="rKey">Religion : Cristian </span><span class="rValue">, </span><br>
                    <span class="hKey">Education:M.com </span><span class="hValue"></span> 
                </p> 
           </div>
       </div>
<div class="slideShow2">
    <div class="slide001">
        
        <img class="imgFit imgFit1" src="https://e1.pxfuel.com/desktop-wallpaper/289/499/desktop-wallpaper-attitude-new-attitude-new-smart-boy-pic-stylish-boy-dp.jpg">
        
        <img class="imgFit imgFit1" src="https://e1.pxfuel.com/desktop-wallpaper/289/499/desktop-wallpaper-attitude-new-attitude-new-smart-boy-pic-stylish-boy-dp.jpg" alt="">
        
         <p class="mName"><span class="mGender"> Name : Aaqib</span></p>
        <p class="mReligion"> 
             <span class="rKey">Religion :Muslim </span><span class="rValue">, </span><br>
            <span class="hKey">Education:Phd </span><span class="hValue"></span> 
        </p> 
       
        <p class="mAbout mAbout1">
           
        </p>
       </div>
    
      <div class="slide1">
        
        <img class="imgFit imgFit1" src="http://www.startuptosuccessmc.com/uploads/2/5/6/5/2565756/editor/depositphotos-47833725-xl-2015.jpg?1613596544">
        
        <img class="imgFit imgFit1" src="http://www.startuptosuccessmc.com/uploads/2/5/6/5/2565756/editor/depositphotos-47833725-xl-2015.jpg?1613596544" alt="">
        
         <p class="mName"><span class="mGender"> Name : Kajal</span></p>
        <p class="mReligion"> 
             <span class="rKey">Religion : Parsi </span><span class="rValue">, </span><br>
            <span class="hKey">Education:Diploma </span><span class="hValue"></span> 
        </p> 
        
        <p class="mAbout mAbout1">
           
        </p>
       </div>
       <div class="slide2">
        
        <img class="imgFit imgFit2" src="https://media.istockphoto.com/id/1201437847/photo/good-looking-male-business-professional-in-studio.jpg?s=612x612&w=0&k=20&c=xWZCmQDVE-56daMr_GwppH12xmfW_bANidnq6CT5ExI=">
        
        <img class="imgFit imgFit2" src="https://media.istockphoto.com/id/1201437847/photo/good-looking-male-business-professional-in-studio.jpg?s=612x612&w=0&k=20&c=xWZCmQDVE-56daMr_GwppH12xmfW_bANidnq6CT5ExI=" alt="Upload image">
        
        <p class="mName"><span class="mGender"> Name :Varun</span></p>
        <p class="mReligion"> 
             <span class="rKey">Religion : Hindu </span><span class="rValue">, </span><br>
            <span class="hKey">Education :B.Pharm </span><span class="hValue"></span> 
        </p>
         
       
            
        </p> 
       </div>
       <div class="slide3">
        
        <img class="imgFit imgFit3" src="https://images2.alphacoders.com/856/thumb-1920-856812.jpg">
        
            <p class="mName"><span class="mGender"> Name : Dhruvi</span></p>
            <p class="mReligion"> 
                 <span class="rKey">Religion : Hindu </span><span class="rValue">, </span><br>
                <span class="hKey">Education:M.B.B.S </span><span class="hValue"></span> 
            </p> 
       
        
        
       </div>
      
    </div>

</html>